.container {
  max-width: 1100px;
  margin: 100px auto 0 auto;
  padding: 20px;
  display: block; 
}

.container img {
  width: 100%;
}

.container.col-2 {
  display: flex;
  gap: 30px;
  align-items: center;
}